.link{
    color: white;
    cursor: pointer;
    border-bottom: 0.2px solid #181e2deb;
}

.bignav{
    display: none;
}

.list-burger ,.close-burger{ 
    font-size: 1.7em;
    padding: .5em;
    cursor: pointer;
}

.side-menu{
    /* margin-top: 1em; */
    position: fixed;
    /* display: none; */
    padding: 1em;
    background: #030712;
    top: 80px;
    width: 100vw;
    transition: all .45s ease-out;
}

.side-menu.open{
    right: 0;
    /* display: block; */
    opacity: 1;
}

.side-menu.close{
    right: -100vw;
    /* display: none; */
    opacity: 0;

}



@media only screen and (min-width: 768px) {
    .smallnav{
        display: none;
    }

    .bignav{
        display: flex;
    }
    .link{
        border: none;
    }
    
}