.skillIcon{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skillIcon img{
    width: 70px;
    height: 70px;
}

.skillIcon p{
    padding: 2em;
    font-family: Poppins;
    font-size: 1.1rem;
    font-weight: 400;
}
